i.apache img{
    width: 180px;
}

i.nginx img{
    width: 180px;
}

i.python_icon img{
    width: 160px;
}

i.mosquitto img{
    width: 150px;
}

i.ansible img{
    width: 150px;
}

i.git img{
    width: 150px;
}

i.jenkins img{
    width: 110px;
}

i.openstack img{
    width: 150px;
}

i.github img{
    width: 150px;
}

i.mariadb img{
    width: 175px;
}

i.esp8266 img{
    width: 170px;
}

i.android img{
    width: 100px;
}

i.zabbix img{
    width: 180px;
}

i.centos img{
    width: 180px;
}

i.raspbian img{
    width: 140px;
}