i.python_icon img {
    width: 130px;
}

i.java_icon img {
    width: 40px;
}

i.cpp_icon img {
    width: 50px;
}

i.linux_bash_icon img {
    width: 60px;
}

i.apache img {
    width: 50px;
}

i.mosquitto img {
    width: 50px;
}

i.ansible img {
    width: 60px;
}

i.docker img {
    width: 80px;
}

i.git img {
    width: 50px;
}

i.jenkins img {
    width: 50px;
}

i.openstack img {
    width: 120px;
}

i.gcp_icon img {
    width: 60px;
}

i.aws_icon img {
    width: 60px;
}

i.terraform_icon img {
    width: 60px;
}

i.django_icon img {
    width: 90px;
}

i.github img {
    width: 160px;
}

i.mariadb img {
    width: 70px;
}

i.esp8266 img {
    width: 170px;
}

i.android img {
    width: 50px;
}

i.monitor img {
    width: 60px;
}

i.prometheus img {
    width: 60px;
}

i.grafana img {
    width: 60px;
}

i.kvm_icon img {
    width: 90px;
}

i.zabbix img {
    width: 180px;
}

i.centos img {
    width: 90px;
}

i.raspbian img {
    width: 140px;
}

i.helm_icon img {
    width: 60px;
}

i.kubernetes_icon img {
    width: 60px;
}

i.ovirt_logo img {
    width: 110px;
}
